body {
  background-color: #2d2d2d;
  overflow-x: hidden;
  color: #e9e9e9;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#header {
  text-align: center;
}

#root {
  display: grid;
}

.cvDetail {
  grid-column: 1/2;
  background-color: rgb(0, 52, 52);
  color: #e9e9e9;
  margin: 20px;
  padding: 20px;
}

.showCv {
  grid-column: 2/3;
  background-color: rgb(0, 52, 52);
  color: #e9e9e9;
  padding: 20px;
  margin: 20px;
  width: 400px;
}

.nameIfoInputs {
  display: grid;
  gap: 10px;
  padding-bottom: 20px;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
}

input {
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #ccc;
  font-size: 16px;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input:focus {
  border-color: #555;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

input::placeholder {
  color: #999;
  opacity: 1;
}

input:disabled {
  background-color: #e9e9e9;
  border-color: #aaa;
  color: #666;
  cursor: not-allowed;
}

.contDateInput {
  display: grid;
  justify-items: center;
}

.cvShowHead {
  text-align: center;
  word-wrap: break-word; /* For legacy browsers */
  overflow-wrap: break-word; /* Standard property */
  white-space: normal;
}

button {
  padding: 16px 10px;
  border-radius: 10px;
  margin: 10px;
  background-color: #2d2d2d;
  color: #e9e9e9;
  border: none;
}

button:hover {
  cursor: pointer;
}
